<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="valenet.com.br.gestordeos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.GestorDeOsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b4a18cc792143b0fef25bb7cc3cb37d1bedcf0d" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".os_type.OsTypeActivity"
            android:label="@string/title_activity_os_type"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".os_list.OsListActivity"
            android:label="@string/title_activity_os_list"
            android:parentActivityName=".os_type.OsTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".os_type.OsTypeActivity" />
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".os_list.OsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".os_list.OsListActivity" />
        </activity>
        <activity
            android:name=".client.ClientActivity"
            android:label="@string/title_activity_client"
            android:parentActivityName=".os_list.OsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".os_list.OsListActivity" />
        </activity>
        <activity
            android:name=".os_filter.OsFilterActivity"
            android:label="@string/title_activity_os_filter"
            android:parentActivityName=".os_list.OsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".os_list.OsListActivity" />
        </activity>
        <activity
            android:name=".refuse_os.RefuseOsActivity"
            android:label="@string/title_activity_refuse_os"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".end_os.EndOsActivity"
            android:label="@string/title_activity_end_os"
            android:parentActivityName=".client.ClientActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.ClientActivity" />
        </activity>
    </application>

</manifest>